@import "utils/commonStyles/colors.scss";
@import "utils/commonStyles/flex.scss";

.home {
  height: calc(100vh - 80px);
}

.particles {
  margin-top: -10%;
}

.home-content {
  position: relative;
  top: 35%;
  letter-spacing: 1px;
  text-align: center;

  .home-hi {
    font-size: 15px;
    animation: fadein 3s;
  }

  .home-name {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Montserrat-ExtraBold;
    font-size: 50px;

    span {
      animation: move-text 0.2s forwards;
      position: relative;
      top: 0;
      opacity: 0;
    }
  }

  .home-designation {
    font-size: 18px;
  }
}

@keyframes move-text {
  0% {
    top: -40px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
