@import "utils/commonStyles/index.scss";

$padding-vertical: 30px;

.main-cnt {
  flex: 1;
  position: relative;
  overflow: hidden;

  .blob {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .content {
    z-index: 1;
    padding: $padding-vertical 0;
    padding-left: $section-padding-horizontal;
    padding-right: 20px;
    position: relative;
    @include flex-row;
    height: calc(100% - (2 * $padding-vertical));

    .content--left {
      @include flex-col-h-cen;
      position: absolute;
      gap: 50px;
      height: 100%;

      .line {
        height: 100%;
        width: 1px;
        background: linear-gradient(
          180deg,
          #08b6f9 0%,
          #6c56ef 33.57%,
          #1306dd 65.86%,
          #aa0eb2 100%
        );
      }
    }

    .content--mid {
      padding-left: 60px;
      display: inline-block;
      padding-top: 100px;
    }

    .content--right {
      padding-top: 100px;
      padding-left: 30px;
    }

    .name {
      font-size: toRem(60px);
      font-weight: bold;
      color: $color-primary-text;
    }
    .role {
      text-transform: uppercase;
      font-size: toRem(30px);
      font-weight: bold;
      color: $color-secondary-text;
    }
    .btnStyle {
      margin-top: 50px;
    }
    .descrp {
      padding-top: 30px;
      max-width: 500px;
      text-align: justify;
      font-size: toRem(16px);

      a {
        color: $color-secondary-text;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main-cnt {
    .content {
      .name {
        font-size: toRem(50px);
      }
      .role {
        font-size: toRem(20px);
      }
      .descrp {
        font-size: toRem(13px);
      }
    }
  }
}
