@import "utils/commonStyles/index.scss";

.main-cnt {
  padding: $section-padding;
  position: relative;

  .header {
    position: absolute;
    right: 85px;
    top: 0;
    @include flex-row-v-cen;
    justify-content: flex-end;
    padding: 0 100px;
    gap: 30px;
    .skill-category {
      padding: 10px;
      color: $color-primary-text;
      border: 1px solid $color-secondary-text;
      border-radius: 10px;
      &.active {
        border-color: $color-brand;
      }
    }
  }

  .skills-cnt {
    @include flex-row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 100px;

    &:last-child {
      justify-content: space-evenly;
    }

    .skill {
      @include flex-col;
      align-items: center;
      justify-content: space-between;
      min-width: 200px;
      padding: 30px 0;

      svg {
        cursor: pointer;
        font-size: toRem(50px);
        height: 50px;
        width: 50px;
        animation: tada 0.3s;

        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
        &:hover {
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
        }
      }

      .skill-name {
        padding-top: 12px;
        font-size: toRem(12px);
      }
    }
  }
}

.skillDetails {
  display: grid;
  gap: 10px;
  padding: 20px;
  .detailsRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .detailsKey {
    }

    .detailsValue {
      text-align: right;
    }
  }
}

@media only screen and (max-width: 600px) {
  .main-cnt {
    .header {
      padding: 0;
    }

    .skills-cnt {
      justify-content: center;
      padding: 0;

      .skill {
        min-width: 150px;
      }
    }
  }
}
