@import "utils/commonStyles/index.scss";

$shadow-color: rgba(0, 0, 0, 0.9);
.main-cnt {
  @include section-padding();
  &.carousel-view {
    flex: 1;
    height: calc(100% - (2 * 85px));
  }
  &.grid-view {
  }

  .header {
    @include flex-row-v-cen;
    justify-content: flex-end;
    padding: 20px;
    gap: 10px;

    svg {
      font-size: toRem(20px);
      cursor: pointer;
      &.active {
        fill: $color-active !important;
      }
      &.listIcon {
        font-size: toRem(24px);
      }
    }
  }

  .content-cnt {
    height: 100%;
    .carousel {
      box-shadow: $shadow-color 0px 1px 0px, $shadow-color 0px 8px 24px, $shadow-color 0px 16px 48px;
    }

    .projects-grid-cnt {
      @include flex-row;
      flex-wrap: wrap;
      gap: 50px;
    }
  }
}

@media only screen and (max-width: 600px) {
}
