@import "utils/commonStyles/index.scss";

.main-cnt {
  @include section-padding();
  &.carousel-view {
    @include section-fullpage($header-height);
  }
  &.grid-view {
  }

  .header {
    @include flex-row-v-cen;
    justify-content: flex-end;
    padding: 20px;

    svg {
      font-size: toRem(20px);
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &.active {
        fill: $color-active !important;
      }
      &.listIcon {
        font-size: toRem(24px);
      }
    }
  }

  .content-cnt {
    .projects-grid-cnt {
      @include flex-row;
      flex-wrap: wrap;
      > :not(:last-child) {
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
}
