{
  "singleQuote": false,
  "printWidth": 100,
  "overrides": [
    {
      "files": ["src/assets/SkillSvgs.js", "src/assets/OtherSvgs.js"],
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
