@use "sass:math";
@import "utils/commonStyles/constants.scss";

@mixin section-padding() {
  padding: 85px 6%;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@function toRem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}
