@import "utils/commonStyles/colors.scss";
@import "utils/commonStyles/flex.scss";

.about {
  height: 100vh;
  padding: 85px 6%;
}

.about-header {
  color: $white;
  text-align: center;
  padding-bottom: 20px;

  div {
    font-size: 25px;
  }
}

.about--top {
  @include flex-row-cen;
  padding: 0 10%;

  .profile-pic {
    border-radius: 50%;
    width: 200px;
    height: auto;
  }

  .about-descrp {
    @include flex-col-sb;
    padding-left: 120px;

    p {
      text-align: start;
      letter-spacing: 1.2px;
      margin-top: 2px;
    }

    section {
      @include flex-row;
      padding-top: 10px;

      .social-link {
        img {
          width: 26px;
          background-color: inherit;
        }
      }

      .social-link:not(:last-child) {
        margin-right: 15px;
      }
    }

    .download-resume {
      text-transform: capitalize;
      font-size: 13px;
      background-color: inherit;
      border: 1px solid $grey;
      padding: 10px;
      margin-bottom: 2px;
      border-radius: 10px;
      width: fit-content;
    }
  }
}

.about--bottom {
  header {
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0 15px 0;

    div {
      font-size: 20px;
    }
  }

  .about-whatIDo {
    @include flex-row-cen;
    padding: 0 calc(10% - 35px);

    section {
      // width: calc(65% / 3);
    }

    section:not(:last-child) {
      // margin-right: 10%;
    }
  }
}

.about-whatIDo-box {
  @include flex-col-h-cen;
  padding: 25px;

  img {
    width: 50px;
    height: 50px;
  }

  .backend {
    width: 40px;
    height: 40px;
  }

  .mobileapp {
    width: 40px;
    height: 40px;
  }

  div {
    padding-top: 8px;
  }

  p {
    text-align: center;
    letter-spacing: 1.2px;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    height: auto;
    padding-top: 90px;
  }

  .about--top {
    @include flex-col-h-cen;

    .about-descrp {
      padding-left: 0;
      padding-top: 30px;

      p {
        text-align: justify;
      }
    }

    section {
      margin-top: 10px;
    }

    .download-resume {
      margin-top: 20px;
    }
  }

  .about--bottom {
    .about-whatIDo {
      @include flex-col-h-cen;
    }
  }
}
