@import "utils/commonStyles/colors.scss";
@import "utils/commonStyles/flex.scss";

.about {
  height: 100vh;
  padding: 85px 6%;
}

.about-header {
  color: $white;
  text-align: center;
  padding-bottom: 20px;

  div {
    font-size: 25px;
  }
}

.about--top {
  @include flex-row;

  .profile-pic {
    border-radius: 50%;
    width: 200px;
    height: auto;
  }

  .about-descrp {
    padding-left: 120px;

    p {
      // max-width: 700px;
      text-align: start;
    }

    section {
      @include flex-row;

      .social-link {
        img {
          width: 26px;
          background-color: inherit;
        }
      }

      .social-link:not(:last-child) {
        margin-right: 15px;
      }
    }

    .download-resume {
      text-transform: capitalize;
      font-size: 13px;
      background-color: inherit;
      border: 1px solid $grey;
      padding: 10px;
      margin-top: 20px;
      border-radius: 10px;
      width: fit-content;
    }
  }
}

.about--bottom {
  header {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
  }

  .about--bottom-whatIDo {
    @include flex-row;

    section {
      width: calc(80% / 3);
      // height: 35vh;
      // background-color: rgb(248, 248, 248);
      // box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
      // opacity: 0.7;
      // border-radius: 10px;
    }

    section:not(:last-child) {
      margin-right: 10%;
    }
  }
}

.about-whatIDo-box {
  @include flex-col-h-cen;
  padding: 15px;

  img {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    height: auto;
    padding-top: 80px;
  }
}
