@import "utils/commonStyles/colors.scss";
@import "utils/commonStyles/flex.scss";

.home {
  height: calc(100vh - 80px);
}

.particles {
}

.home-content {
  position: relative;
  top: 35%;
  letter-spacing: 1px;
  text-align: center;

  .home-hi {
    font-size: 15px;
  }

  .home-name {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Montserrat-ExtraBold;
    font-size: 50px;
  }

  .home-designation {
    font-size: 18px;
  }
}
