@import "utils/commonStyles/colors.scss";
@import "utils/commonStyles/flex.scss";

.header {
  @include flex-row-sb;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header--left {
}

.header--right {
  @include flex-row;
  font-size: 15px;

  a {
    color: $white;
    text-decoration: none;
  }

  a:not(:last-child) {
    padding-right: 30px;
  }
}
