@import "utils/commonStyles/index.scss";

.project-box-cnt {
  @include flex-col;
  border-radius: 4px;
  padding: 25px;
  width: 100%; // IMPORTANT: To spread out in the parent container
  height: 100%; // IMPORTANT: To spread out in the parent container and To keep the overview image contained.

  .header {
    padding-bottom: 10px;
    @include flex-row-b-sb-cen;

    .header--left {
      @include flex-row-v-cen;
      .header--left-left {
        .icon {
          @include flex-row-v-cen;
          border: 1px solid #444242;
          border-radius: 50%;
          padding: 5px;
          margin-right: 5px;
        }
      }
      .header--left-right {
        @include flex-col;
        .name {
          font-size: toRem(18px);
          color: $color-primary-text;
        }
        .duration {
          font-size: toRem(14px);
          font-style: italic;
        }
      }
    }

    .header--right {
      @include flex-row-v-cen;
      svg {
        font-size: toRem(20px);
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  .content-img-cnt {
    max-height: 550px; // IMPORTANT: To keep the overview image contained
    overflow: hidden; // IMPORTANT: In case the overview image overflows, keep the overflowed part hidden.

    .overview-img,
    .overview-video {
      width: 100%; // IMPORTANT: To fit the parent container
      height: 100%; // IMPORTANT: To fit the parent container
      object-fit: contain; // IMPORTANT: To maintain the aspect ratio when height & width is adjusted to fit the container.
      /*
      * IMPORTANT: "height: 100%" will only make sense when parent height is set to some absolute 
      * value. Otherwise, image will overflow the container to maintain the aspect ratio.
      */
    }

    .overview-video {
      border: none !important;
      outline: none !important;
    }
  }

  .descrp {
    font-size: toRem(14px);
    text-align: justify;
    white-space: normal;
    padding-top: 20px;
    flex: 1;
  }

  .tech-list {
    padding-top: 20px;
    @include flex-row-v-cen;
    flex-wrap: wrap;

    .tech {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
}
