@import "utils/commonStyles/index.scss";

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  @extend %scrollbar;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  background: $color-primary-bg;
  color: $color-primary-text;
  font-family: "Roboto", sans-serif;
  position: relative;
}
