@import "utils/commonStyles/colors.scss";

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  // background-color: #6daddb;
  // background-image: linear-gradient(315deg, #6daddb 0%, #313131 74%);
  background-color: #26343d;
  // padding: 0 150px;
  color: $white;
  font-family: Montserrat-Regular;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #26343d;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
