@import "utils/commonStyles/colors.scss";
@import "utils/commonStyles/flex.scss";

.main-header {
  color: $white;
  text-align: center;
  padding-bottom: 20px;

  .main-header__name {
    font-size: 25px;
  }
}
