/* ************ FONT FAMILIES ************ */

@font-face {
  font-family: "Montserrat-Regular";
  src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(assets/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(assets/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url(assets/fonts/Montserrat/Montserrat-Black.ttf) format("truetype");
}

/* ************ KEY-FRAMES ************ */
@keyframes move-text-name {
  0% {
    top: -40px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadein-half {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fadein-full {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
