/* ************ FONT FAMILIES ************ */

@font-face {
  font-family: "Montserrat-Regular";
  src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(assets/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(assets/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url(assets/fonts/Montserrat/Montserrat-Black.ttf) format("truetype");
}
