@import "utils/commonStyles/colors.scss";
@import "utils/commonStyles/flex.scss";

.aboutMe {
  height: 100vh;
  padding: 80px 0;
}

.aboutMe--top {
  text-align: center;

  header {
    font-size: 25px;
  }

  p {
  }
}

.aboutMe--bottom {
  @include flex-row;

  div {
    width: calc(90% / 3);
    height: 35vh;
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 10px;
  }

  div:not(:last-child) {
    margin-right: 5%;
  }
}
